body {background-color: black;}

header {
    background-color:black;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
    background-color:rgb(140, 10, 10);
    color: #0a0a0a;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}
section {

    padding: 1.25rem;
    margin:1.25rem auto;
    max-width: 50rem;

}

img{
  max-width: 100%;
  height: auto;
}


  .gallery{
    text-align: center;
 }

