body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3d7aa;
}

header {
    background-image: url(../images/03.jpg);
    color: #0c0c0c;
    padding: 20px;
    text-align: center;
    font-size: 1.25rem;

}

nav {position: fixed;
    background-color:#f3d7aa;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #060606;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}
.mu img {
    width: 48%;
    padding: .5rem;
    text-align: center;}


    @media  screen and (orientation:portrait) and (max-width: 720px){
        .mu img{ width: 100%;
        padding: 0;}

    }

    
footer {
    background-color:white;
    color:black;
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}